<mat-toolbar>
  <span>Nouvel Utilisateur</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
       
    <form [formGroup]="RegisterForm" class="my-form">
      <!--FORM FIELDS HERE-->
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="First name"  formControlName="first_name"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Last Name" formControlName="last_name"  >
      </mat-form-field>      
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password"  type="password" formControlName="password" required>
      </mat-form-field>
      <h3>Profile d'Utilisateur</h3>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input  matInput  placeholder="Address" formControlName="address"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Fonction-Statut</mat-label>
        <input  matInput  placeholder="Fonction-Statut" formControlName="title"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Date de naissance</mat-label>
        <input  matInput  placeholder="YYYY-MM-DD" formControlName="dob"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Pays</mat-label>
        <input  matInput  placeholder="Pays" formControlName="country"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Ville</mat-label>
        <input  matInput  placeholder="Ville" formControlName="city"  >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Code Postal</mat-label>
        <input  matInput  placeholder="Code Postal" formControlName="zip" >
      </mat-form-field>
      <!-- <section class="example-section">
        <label class="example-margin">Gender:</label>
        <mat-radio-group [(ngModel)]="gender">
          <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Other</mat-radio-button>
        </mat-radio-group>
      </section>
   
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

      <mat-card-actions>
        <!-- REGISTER BUTTON -->
        <button mat-raised-button (click)="register()" [disabled]="RegisterForm.invalid" color="primary">REGISTER</button>
      </mat-card-actions>
  


    </form>
       <p> {{errorMessage}} </p>
  </mat-card-content>
  
</mat-card>