
<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register" >Register</a>
     <a mat-button routerLink="/login" >Login</a>
     <a mat-button routerLink="/" style="cursor: pointer" (click)="OnSignOut()" >LogOut</a>
     
  </mat-toolbar-row>
</mat-toolbar>
<h3>Bienvenue dans l'app d'authentification et d'enregistrement d'user de DjanGular</h3>

<router-outlet></router-outlet> 