<mat-toolbar>
  <span>Veuillez vous identifier please</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form [formGroup]="LoginForm" class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email"  formControlName="email">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" type="password" formControlName="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <div> <p>{{ errorMessage }}</p> </div>
   <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" [disabled]="LoginForm.invalid" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card>